# Spring configuration
spring.profiles.active=prod
server.port=5000
server.error.whitelabel.enabled=false
spring.main.banner-mode=off
spring.datasource.url=<YOUR PROD DATABASE URI>
spring.datasource.username=<YOUR PROD DATABASE USER>
spring.datasource.password=<YOUR PROD DATABASE PASSWORD>
spring.datasource.driver-class-name=org.mariadb.jdbc.Driver
spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL57Dialect

# Liquibase (migration) configuration
spring.liquibase.enabled=true
spring.liquibase.change-log=classpath:/liquibase/master.xml
logging.level.liquibase=INFO

# OAuth2 configuration
ischia.oauth2.github.client-id=<GITHUB OAUTH2 CLIENT ID>
ischia.oauth2.github.client-secret=<GITHUB OAUTH2 CLIENT SECRET>

# Miscellaneous configuration
ischia.time.requests=true